<h4 class="text-center"> Login </h4>

<form class="form mt-4" (ngSubmit)="login()" method="POST" >
  <div class="form-group" >
    <input class="form-control"
      placeholder="nome do usuário"
      [(ngModel)]="usuario"
      name="usuario"
    />
  </div>

  <br>

  <div class="form-group">
    <input class="form-control"
      placeholder="Senha"
      type="password"
      [(ngModel)]="senha"
      name="senha"
    />
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
